@page "/Reports/WhosOnVacation"

@inject HttpClient Http

<h4 class="text-primary">Who's on vacation in the next 7 days?</h4>

@if (@EmployeesVacations != null && @EmployeesVacations.Count > 0)
{
    <TemplatedTableBlazorVacation Items="@EmployeesVacations">
        <TableHeader>
            <th>First Name</th>
            <th>Last Name</th>
            <th>From</th>
            <th>Till</th>
        </TableHeader>
        <RowTemplate>
            <td>@context.employee?.FirstName</td>
            <td>@context.employee?.LastName</td>
            <td>@context.vacation?.FromDate.ToString("dd.MM.yyyy")</td>
            <td>@context.vacation?.TillDate.ToString("dd.MM.yyyy")</td>
        </RowTemplate>
    </TemplatedTableBlazorVacation>
}


@code
{
    List<(Employee employee, Vacation vacation)>? EmployeesVacations { get; set; }

    protected override async Task OnInitializedAsync()
    {
        EmployeesVacations = await Http.GetJsonAsync<List<(Employee, Vacation)>>($"api/Vacations/WhoIsOnVacation?range=7");
    }
}